# IMPORTS

In [1]:
import pandas as pd
import numpy as np
import os
from decimal import Decimal
import pickle
from pathlib import Path
from datetime import timedelta
pd.set_option('display.max_columns', None)
import warnings
warnings.filterwarnings('ignore')

# SETUP

In [2]:
dir_tree_util_path = os.path.join("utils", "dir_tree.py")
exec(open(dir_tree_util_path).read())

# INPUTS

In [3]:
# Paths
path_input = PROJECT_DIRS["DADOS_VEQ_ANTT_DIR"]
path_output = PROJECT_DIRS["DADOS_DERIVADOS_DIR"]

In [4]:
periodo = list(range(2010, 2025))

# Criando um dataframe consolidado com os dados de tráfego

In [5]:
# arquivos dos dados
arquivos = os.listdir(path_input)

In [6]:
df_trafego = pd.DataFrame()
for ano in periodo:
    arquivo = [a for a in arquivos if a[:-4].endswith(str(ano))][0]
    df_ano = pd.read_csv(os.path.join(path_input, arquivo), sep=';', encoding='cp1252', low_memory=False)
    df_trafego = pd.concat([df_trafego,df_ano])

# EDA Inicial

In [7]:
df_trafego.head()

,concessionaria,mes_ano,sentido,praca,categoria,tipo_de_veiculo,volume_total,multiplicador_de_tarifa,volume_veiculo_equivalente,tipo_de_cobranca
0,RODOVIA DO AÇO,01-01-2010,Decrescente,"Praça 01 BR-393/RJ km 125,00",Categoria 1,Passeio,44146,1,44146,NaN
1,RODOVIA DO AÇO,01-01-2010,Crescente,"Praça 01 BR-393/RJ km 125,00",Categoria 1,Passeio,35771,1,35771,NaN
2,RODOVIA DO AÇO,01-02-2010,Decrescente,"Praça 01 BR-393/RJ km 125,00",Categoria 1,Passeio,33455,1,33455,NaN
3,RODOVIA DO AÇO,01-02-2010,Crescente,"Praça 01 BR-393/RJ km 125,00",Categoria 1,Passeio,27109,1,27109,NaN
4,RODOVIA DO AÇO,01-03-2010,Decrescente,"Praça 01 BR-393/RJ km 125,00",Categoria 1,Passeio,31677,1,31677,NaN

In [8]:
df_trafego.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3000353 entries, 0 to 2329761
Data columns (total 10 columns):
 #   Column                      Dtype
---  ------                      -----
 0   concessionaria              object
 1   mes_ano                     object
 2   sentido                     object
 3   praca                       object
 4   categoria                   object
 5   tipo_de_veiculo             object
 6   volume_total                object
 7   multiplicador_de_tarifa     object
 8   volume_veiculo_equivalente  object
 9   tipo_de_cobranca            object
dtypes: object(10)
memory usage: 251.8+ MB

In [9]:
for col in df_trafego:
    print(f"{col}: {df_trafego[col].isna().sum()}")

concessionaria: 0
mes_ano: 0
sentido: 0
praca: 0
categoria: 0
tipo_de_veiculo: 0
volume_total: 344
multiplicador_de_tarifa: 0
volume_veiculo_equivalente: 0
tipo_de_cobranca: 74780

In [10]:
df_trafego[df_trafego['volume_total'].isna()].sample(9)

,concessionaria,mes_ano,sentido,praca,categoria,tipo_de_veiculo,volume_total,multiplicador_de_tarifa,volume_veiculo_equivalente,tipo_de_cobranca
136458,RIOSP,01/10/2023,Crescente,"Praça 08 BR-116/SP km 205,00",Categoria 6,Comercial,NaN,"4,00","0,00",N/I
130437,ECOVIAS DO CERRADO,01/08/2023,Crescente,"P7 - Jataí BR 364/GO km 156,550",Veículo Comercial Acima 10 eixos,Comercial,NaN,"10,00","0,00",N/I
126172,ECOSUL,01/12/2023,Decrescente,"Praça 04 BR-392/RS km 52,30",Categoria 9,Moto,NaN,"0,50","0,00",N/I
120975,ECO050,01/11/2023,Decrescente,"Praça 02 BR-050/GO km 226,00",Veículo Comercial Acima 10 eixos,Comercial,NaN,"10,00","0,00",N/I
134819,RIOSP,01/03/2023,Crescente,"Praça 08 BR-116/SP km 205,00",Categoria 4,Comercial,NaN,"3,00","0,00",N/I
125442,ECOSUL,01/05/2023,Crescente,"Praça 03 BR-116/RS km 541,20",Categoria 9,Moto,NaN,"0,50","0,00",N/I
131074,ECOVIAS DO CERRADO,01/12/2023,Decrescente,P3 - ITUIUTABA,Veículo Comercial Acima 10 eixos,Comercial,NaN,"10,00","0,00",N/I
130736,ECOVIAS DO CERRADO,01/10/2023,Decrescente,P4 - SANTA VITÓRIA,Veículo Comercial Acima 10 eixos,Comercial,NaN,"10,00","0,00",N/I
121118,ECO050,01/12/2023,Crescente,"Praça 02 BR-050/GO km 226,00",Veículo Comercial Acima 10 eixos,Comercial,NaN,"10,00","0,00",N/I

In [11]:
df_trafego[df_trafego['volume_total'].isna()]['volume_veiculo_equivalente'].unique()

array(['0,00'], dtype=object)

In [12]:
df_trafego['mes_ano'].str[:2].unique()

array(['01', '14', '28', '31', '30', '02', '03', '04', '05', '06', '07',
       '08', '09', '10', '11', '12', '13', '15', '16', '17', '18', '19',
       '20', '21', '22', '23', '24', '25', '26', '27', '29'], dtype=object)

In [13]:
df_trafego['mes_ano'].str[3:5].unique()

array(['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11',
       '12'], dtype=object)

In [14]:
df_trafego['tipo_de_cobranca'].unique()

array([nan, 'N/I', 'Manual', 'Automática', 'Mista'], dtype=object)

In [15]:
df_trafego['volume_total'].isna().any()

np.True_

In [16]:
df_trafego['volume_total'].isna().sum()

np.int64(344)

In [17]:
df_trafego['multiplicador_de_tarifa'].unique()

array(['1', '2', '1,5', '3', '4', '5', '6', '0,5', '7', '8', '9', '10',
       1.0, 2.0, 1.5, 3.0, 4.0, 5.0, 6.0, 0.5, 7.0, 8.0, 9.0, 10.0,
       '2,00', '3,00', '4,00', '5,00', '6,00', '0,50', '1,00', '1,50',
       '7,00', '8,00', '9,00', '10,00', '0,00', '11,00', '13,00', '15,00',
       '12,00', '14,00', '18,00', '20,00', '16,00', '17,00', '19,00'],
      dtype=object)

# Tratamento dos dados

In [18]:
# Colunas de ano, mes e dia
df_trafego['year'] = df_trafego['mes_ano'].str[-4:].astype('int') 
df_trafego['month'] = df_trafego['mes_ano'].str[3:5].astype('int')
df_trafego['day'] = df_trafego['mes_ano'].str[:2].astype('int')

In [19]:
# Recriando a coluna de mes_ano, agora como datetime ao invés de string. Tem que ser em ingles pq a função do pandas exige
df_trafego['mes_ano'] = pd.to_datetime(df_trafego[['year', 'month', 'day']]).dt.date

In [20]:
# preenchendo os NaNs, qdo aplicável:
df_trafego['volume_total'] = df_trafego['volume_total'].fillna(0) #o volume equivalente é zero sempre que volume_total é zero

In [21]:
# Convertendo os tipos de dados para numéricos:
df_trafego['volume_total'] = df_trafego['volume_total'].apply(lambda x: x.replace(',','.') if type(x) == str else x)
df_trafego['volume_total'] = df_trafego['volume_total'].apply(lambda x: x.split('.')[0] if type(x) == str else x)
df_trafego['volume_total'] = df_trafego['volume_total'].astype('int')

df_trafego['volume_veiculo_equivalente'] = df_trafego['volume_veiculo_equivalente'].apply(lambda x: x.replace(',','.') if type(x) == str else x)
df_trafego['volume_veiculo_equivalente'] = df_trafego['volume_veiculo_equivalente'].astype('float') # existe multiplicador de tarifa fracionário

In [22]:
# convertendo categoria para string (do contrário não salva para parquet):
df_trafego['categoria'] = df_trafego['categoria'].astype('string')

In [23]:
# convertendo o multiplicador de tarifa de string para decimal (p/manter a precisao):
df_trafego['multiplicador_de_tarifa'] = df_trafego['multiplicador_de_tarifa'].apply(lambda x: x.replace(',','.') if type(x) == str else x)
df_trafego['multiplicador_de_tarifa'] = df_trafego['multiplicador_de_tarifa'].apply(Decimal)

In [24]:
# O tipo de tráfego ora está em maisúcula, ora em minúscula.
# Colocando tudo p/maiúscula
df_trafego['tipo_de_veiculo'] = df_trafego['tipo_de_veiculo'].str.upper()

In [25]:
# algumas concessionárias estão ora em maiúsculas ora em minúsculas
# colocando tudo para maiúscula
df_trafego['concessionaria'] = df_trafego['concessionaria'].str.upper()

In [26]:
df_trafego.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3000353 entries, 0 to 2329761
Data columns (total 13 columns):
 #   Column                      Dtype
---  ------                      -----
 0   concessionaria              object
 1   mes_ano                     object
 2   sentido                     object
 3   praca                       object
 4   categoria                   string
 5   tipo_de_veiculo             object
 6   volume_total                int64
 7   multiplicador_de_tarifa     object
 8   volume_veiculo_equivalente  float64
 9   tipo_de_cobranca            object
 10  year                        int64
 11  month                       int64
 12  day                         int64
dtypes: float64(1), int64(4), object(7), string(1)
memory usage: 320.5+ MB

In [27]:
df_trafego['year'].unique()

array([2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020,
       2021, 2022, 2023, 2024])

In [28]:
df_trafego.query("year == 2024")['month'].unique()

array([1, 2, 3, 4, 5, 6])

## Criando coluna desambiguando categorias comercial x passeio

In [29]:
df_trafego['tipo_de_veiculo'].unique()

array(['PASSEIO', 'COMERCIAL', 'MOTO', 'VEÍCULO PEQUENO'], dtype=object)

In [30]:
df_trafego["TIPO_TRAFEGO"] = df_trafego['tipo_de_veiculo'].apply(lambda x: x if x == "COMERCIAL" else "PASSEIO")

In [31]:
df_trafego["TIPO_TRAFEGO"].unique()

array(['PASSEIO', 'COMERCIAL'], dtype=object)

## Criando colunas com trafégo em Veqs para comercial e passeio

In [32]:
df_trafego = df_trafego.rename(columns={'volume_veiculo_equivalente':'VEQS_TOTAL'})
df_trafego['VEQS_COMERCIAL'] = np.where(
    df_trafego['TIPO_TRAFEGO'] == 'COMERCIAL',
    df_trafego['VEQS_TOTAL'],
    0
)
df_trafego['VEQS_PASSEIO'] = np.where(
    df_trafego['TIPO_TRAFEGO'] == 'PASSEIO',
    df_trafego['VEQS_TOTAL'],
    0
)

# Criando dataframe com o período inicial e final dos dados por concessionária

In [33]:
df_periodos = df_trafego.groupby('concessionaria').agg(
    data_inicial=('mes_ano', 'min'),
    data_final=('mes_ano', 'max')
).reset_index()
df_periodos['data_inicial'] = pd.to_datetime(df_periodos['data_inicial']).dt.date
df_periodos['data_final'] = pd.to_datetime(df_periodos['data_final']).dt.date

In [34]:
df_periodos.index = df_periodos['concessionaria']
df_periodos = df_periodos.drop(columns=['concessionaria'])

In [35]:
df_periodos = df_periodos.sort_values(by='data_inicial', ascending=False)

# Criando dataframes agrupando VEQs por ANO/concessionaria/tipo de trafego

In [36]:
df_trafego.columns

Index(['concessionaria', 'mes_ano', 'sentido', 'praca', 'categoria',
       'tipo_de_veiculo', 'volume_total', 'multiplicador_de_tarifa',
       'VEQS_TOTAL', 'tipo_de_cobranca', 'year', 'month', 'day',
       'TIPO_TRAFEGO', 'VEQS_COMERCIAL', 'VEQS_PASSEIO'],
      dtype='object')

In [37]:
cols_veqs = ['VEQS_COMERCIAL','VEQS_PASSEIO']

In [38]:
dict_veqs_anual = {}
for col in cols_veqs:
    dict_veqs_anual[col] = df_trafego.pivot_table(
        index='concessionaria',
        columns='year',
        values=col,
        aggfunc='sum'
        ).T

In [39]:
df_periodos.iloc[0,0]

datetime.date(2024, 1, 1)

In [40]:
# retirando os anos incompletos
def filter_incomplete_years(df_trafego, df_periodos):
    df = df_trafego.copy()
    for conc in df_periodos.index:
        data_inicial = df_periodos.loc[conc,'data_inicial']
        data_final = df_periodos.loc[conc,'data_final']
        # print(data_inicial, data_final)
        years_drop = []
        if (data_inicial.day != 1) or (data_inicial.month != 1):
            years_drop.append(data_inicial.year)
        if (data_final.day != 31) or (data_final.month != 12):
            years_drop.append(data_final.year)
        # print(list(set(years_drop)))
        years_drop = list(set(years_drop))
        for year in years_drop:
            # print(df_trafego.loc[year, conc])
            df.loc[year, conc] = None
            # print(df_trafego.loc[year, conc])
    return df

In [41]:
for veq, df in dict_veqs_anual.items():
    dict_veqs_anual[veq] = filter_incomplete_years(df, df_periodos)

# Criando dataframes agrupando VEQs por MÊS/concessionaria/tipo de trafego

In [42]:
# Criando uma coluna agrupando todos os registros em um mes ano para o final do mes para groupby
df_trafego['MES_ANO_f'] = pd.to_datetime(df_trafego['mes_ano'], format='%m/%Y') + pd.offsets.MonthEnd(0)
df_trafego['MES_ANO_f'] = df_trafego['MES_ANO_f'].dt.date

In [43]:
dict_veqs_mensal = {}
for col in cols_veqs:
    dict_veqs_mensal[col] = df_trafego.pivot_table(
        index='concessionaria',
        columns='MES_ANO_f',
        values=col,
        aggfunc='sum'
        ).T

In [44]:
def filter_incomplete_months(df_trafego, df_periodos):
    df = df_trafego.copy()

    for conc in df_periodos.index:
        data_inicial = df_periodos.loc[conc, 'data_inicial']
        data_final = df_periodos.loc[conc, 'data_final']
        
        # List to keep track of months to drop
        months_drop = []

        # Check if the starting month is incomplete
        if data_inicial.day != 1:
            # Drop the starting month if not starting from the 1st day
            incomplete_start = (data_inicial + pd.offsets.MonthEnd(0)).date()
            months_drop.append(incomplete_start)

        # Check if the ending month is incomplete
        if data_final != (data_final + pd.offsets.MonthEnd(0)):
            # Drop the ending month if not ending on the last day
            incomplete_end = (data_final + pd.offsets.MonthEnd(0)).date()
            months_drop.append(incomplete_end)

        # Remove duplicate dates (if any)
        months_drop = list(set(months_drop))

        # Remove the rows corresponding to incomplete months
        for month in months_drop:
            if month in df.index:
                df.loc[month, conc] = None
    return df

In [45]:
for veq, df in dict_veqs_mensal.items():
    dict_veqs_mensal[veq] = filter_incomplete_months(df, df_periodos)

# Criando dataframes agrupando VEQs por TRIMESTRE/concessionaria/tipo de trafego

In [46]:
# TO-DO: retirar daqui, e colocar para agrupar após ter os dados dessazonalizados!

In [47]:
def group_by_tri(df_monthly):
    df_tri = df_monthly.copy()
    
    # Ensure the index is a datetime object
    df_tri.index = pd.to_datetime(df_tri.index)

    # Create a column for the quarter-year format
    df_tri['trimestre'] = df_tri.index.to_period('Q')
    
    # Identify quarters with any NaN values
    cols = [col for col in df_tri.columns if col != 'trimestre']
    for col in cols:
        # Find quarters where there is at least one NaN value in the column
        quarters_with_nan = df_tri.groupby('trimestre')[col].apply(lambda x: x.isna().any())
        
        # Filter only quarters that have NaN
        quarters_with_nan = quarters_with_nan[quarters_with_nan].index

        # Set all values in those quarters to zero for the column
        df_tri.loc[df_tri['trimestre'].isin(quarters_with_nan), col] = 0

    # Drop the helper column
    df_tri = df_tri.drop(columns=['trimestre'])

    # Group by trimester (quarter) and sum
    df_tri = df_tri.groupby(df_tri.index.to_period('Q')).sum()
    
    df_tri.index.name = 'trimestre'

    return df_tri

In [48]:
group_by_tri(dict_veqs_mensal['VEQS_COMERCIAL'])

concessionaria,AUTOPISTA FERNÃO DIAS,AUTOPISTA FLUMINENSE,AUTOPISTA LITORAL SUL,AUTOPISTA PLANALTO SUL,AUTOPISTA REGIS BITTENCOURT,CONCEBRA,CONCEPA,CONCER,CRO,CRT,ECO050,ECO101 CONCESSIONARIA DE RODOVIAS S/A,ECOPONTE,ECORIOMINAS,ECOSUL,ECOVIAS DO ARAGUAIA,ECOVIAS DO CERRADO,HOLDING DO SISTEMA RODOVIARIO RIO - SAO PAULO S.A.,MSVIA,NOVADUTRA,RIOSP,RODOVIA DO AÇO,TRANSBRASILIANA,VIA 040,VIA BAHIA,VIA BRASIL,VIA COSTEIRA,VIA SUL
trimestre,,,,,,,,,,,,,,,,,,,,,,,,,,,,
2010Q1,19118234.0,5541521.0,16068951.0,4647174.0,26099925.0,0.0,3441949.0,3010524.0,0.0,1992136.0,0.0,0.0,0.0,0.0,2992516.0,0.0,0.0,0.0,0.0,23693645.0,0.0,3081118.0,3423756.0,0.0,0.0,0.0,0.0,0.0
2010Q2,21643553.0,5701041.0,16910430.0,4987917.0,28377179.0,0.0,3380149.0,3157629.0,0.0,2015505.0,0.0,0.0,0.0,0.0,4325632.0,0.0,0.0,0.0,0.0,30087408.0,0.0,3342063.0,3786746.0,0.0,0.0,0.0,0.0,0.0
2010Q3,24157523.0,6183923.0,18332337.0,4948655.0,29787088.0,0.0,3510893.0,3418319.0,0.0,2221628.0,0.0,0.0,0.0,0.0,3666469.0,0.0,0.0,0.0,0.0,31267360.0,0.0,3246286.0,4151907.0,0.0,0.0,0.0,0.0,0.0
2010Q4,27296125.0,6452851.0,18619986.0,4971035.0,30620469.0,0.0,3763546.0,3523507.0,0.0,2334071.0,0.0,0.0,0.0,0.0,3442323.0,0.0,0.0,0.0,0.0,31332569.0,0.0,3217731.0,4152586.0,0.0,0.0,0.0,0.0,0.0
2011Q1,26160702.0,6215518.0,17250630.0,5212567.0,29285468.0,0.0,3540257.0,3533875.0,0.0,2188312.0,0.0,0.0,0.0,0.0,3626090.0,0.0,0.0,0.0,0.0,29355052.0,0.0,2984654.0,3786002.0,0.0,0.0,0.0,0.0,0.0
2011Q2,27159762.0,6435567.0,18224379.0,5126143.0,30475511.0,0.0,3588659.0,3559117.0,0.0,2276287.0,0.0,0.0,0.0,0.0,4779738.0,0.0,0.0,0.0,0.0,31072402.0,0.0,3263200.0,4135188.0,0.0,0.0,0.0,0.0,0.0
2011Q3,29091508.0,6879896.0,18994084.0,4975300.0,31340648.0,0.0,3738000.0,3862067.0,0.0,2416823.0,0.0,0.0,0.0,0.0,4168042.0,0.0,0.0,0.0,0.0,32958620.0,0.0,3292931.0,4462562.0,0.0,0.0,0.0,0.0,0.0
2011Q4,28923606.0,6856120.0,19720172.0,5080475.0,31792171.0,0.0,3937924.0,3849757.0,0.0,2382681.0,0.0,0.0,0.0,0.0,3594393.0,0.0,0.0,0.0,0.0,32571995.0,0.0,3054247.0,4437882.0,0.0,0.0,0.0,0.0,0.0
2012Q1,28063634.0,7061515.0,18561629.0,4955941.0,30116271.0,0.0,3829323.0,3874487.0,0.0,2446994.0,0.0,0.0,0.0,0.0,3457025.0,0.0,0.0,0.0,0.0,29842606.0,0.0,2192619.0,4196191.0,0.0,0.0,0.0,0.0,0.0
2012Q2,28215690.0,6508365.0,18575895.0,4970535.0,30422180.0,0.0,3745100.0,3814129.0,0.0,2407099.0,0.0,0.0,0.0,0.0,4698779.0,0.0,0.0,0.0,0.0,29926967.0,0.0,2964643.0,4457596.0,0.0,0.0,0.0,0.0,0.0
2012Q3,29830378.0,6808717.0,19851455.0,5022056.0,31683676.0,0.0,3993801.0,4036330.0,0.0,2546819.0,0.0,0.0,0.0,0.0,3811592.0,0.0,0.0,0.0,0.0,31610620.0,0.0,3152029.0,4962869.0,0.0,0.0,0.0,0.0,0.0
2012Q4,29693979.0,6809905.0,20041449.0,4992732.0,31408567.0,0.0,4174096.0,3998303.0,0.0,2491095.0,0.0,0.0,0.0,0.0,3704809.0,0.0,0.0,0.0,0.0,31548634.0,0.0,3241555.0,4819318.0,0.0,0.0,0.0,0.0,0.0
2013Q1,27735857.0,6335892.0,19117417.0,4907090.0,29986138.0,0.0,4043819.0,3756671.0,0.0,2340230.0,0.0,0.0,0.0,0.0,3760518.0,0.0,0.0,0.0,0.0,29268548.0,0.0,3109515.0,4251814.0,0.0,15545359.0,0.0,0.0,0.0
2013Q2,29817444.0,6635796.0,20032525.0,5392695.0,31767461.0,0.0,4232069.0,3970014.0,0.0,2442924.0,0.0,0.0,0.0,0.0,6182077.0,0.0,0.0,0.0,0.0,30775272.0,0.0,3018655.0,4699815.0,0.0,17510470.0,0.0,0.0,0.0
2013Q3,30274255.0,6849847.0,17975017.0,5299860.0,32519045.0,0.0,4399742.0,4253973.0,0.0,2519767.0,0.0,0.0,0.0,0.0,5297446.0,0.0,0.0,0.0,0.0,31635602.0,0.0,3350703.0,4988278.0,0.0,17216243.0,0.0,0.0,0.0
2013Q4,30109178.0,6837294.0,21825154.0,5265985.0,32386253.0,0.0,4515115.0,4085982.0,0.0,2510744.0,0.0,0.0,0.0,0.0,3946122.0,0.0,0.0,0.0,0.0,31731002.0,0.0,3443452.0,4812964.0,0.0,17212404.0,0.0,0.0,0.0
2014Q1,27810749.0,5703688.0,21369349.0,5217722.0,30471480.0,0.0,4350485.0,3915318.0,0.0,2407372.0,0.0,0.0,0.0,0.0,4558240.0,0.0,0.0,0.0,0.0,29777844.0,0.0,3228186.0,4406919.0,0.0,16335620.0,0.0,0.0,0.0
2014Q2,27857521.0,6436008.0,22181382.0,5051343.0,29971098.0,0.0,4305781.0,3976643.0,0.0,2410343.0,0.0,0.0,0.0,0.0,6037155.0,0.0,0.0,0.0,0.0,29301521.0,0.0,3206294.0,4617595.0,0.0,17631787.0,0.0,0.0,0.0
2014Q3,29285720.0,6829556.0,27524251.0,6224222.0,31332803.0,0.0,4615267.0,3773908.0,0.0,2651020.0,0.0,9761167.0,0.0,0.0,5145010.0,0.0,0.0,0.0,0.0,30017648.0,0.0,3175311.0,4846452.0,0.0,17809544.0,0.0,0.0,0.0
2014Q4,29216700.0,6897752.0,27295539.0,5349812.0,31858412.0,0.0,4604968.0,3626070.0,0.0,2717698.0,0.0,9598312.0,0.0,0.0,4193782.0,0.0,0.0,0.0,0.0,30085750.0,0.0,3240561.0,4743378.0,0.0,17907117.0,0.0,0.0,0.0
2015Q1,25873348.0,6144358.0,23611275.0,4870439.0,28824409.0,0.0,4248505.0,3270596.0,0.0,2468581.0,0.0,8927744.0,0.0,0.0,4277567.0,0.0,0.0,0.0,0.0,27048047.0,0.0,3035689.0,4109439.0,0.0,16156905.0,0.0,0.0,0.0
2015Q2,24763694.0,5689340.0,20620809.0,4642624.0,27201654.0,0.0,3975521.0,3142487.0,0.0,2297830.0,5781907.0,8252611.0,0.0,0.0,5643329.0,0.0,0.0,0.0,0.0,25221870.0,0.0,2783010.0,4054619.0,0.0,15969080.0,0.0,0.0,0.0
2015Q3,24923803.0,5671778.0,20193682.0,4483518.0,26803380.0,14545590.0,4098387.0,3124685.0,0.0,2367920.0,7696027.0,8325481.0,1230319.0,0.0,5414216.0,0.0,0.0,0.0,0.0,25917049.0,0.0,2953869.0,4182936.0,9217718.0,16253645.0,0.0,0.0,0.0
2015Q4,24645101.0,5651807.0,20689327.0,4347543.0,26253552.0,14538214.0,4208507.0,2958490.0,21559660.0,2360128.0,7030405.0,8115565.0,1238553.0,0.0,4023261.0,0.0,0.0,0.0,9902570.0,25653606.0,0.0,2818863.0,4069827.0,12100083.0,15575186.0,0.0,0.0,0.0
2016Q1,22491577.0,5139075.0,19511496.0,4311489.0,24793458.0,13159424.0,3990421.0,2732572.0,20887188.0,2173808.0,6609544.0,7341648.0,1138194.0,0.0,3980335.0,0.0,0.0,0.0,9841714.0,23158609.0,0.0,2673024.0,3756333.0,10633582.0,13954681.0,0.0,0.0,0.0
2016Q2,23633732.0,4938417.0,19511161.0,4465362.0,25282944.0,13903848.0,3915873.0,2838979.0,20361219.0,2187899.0,6925406.0,7023247.0,1145091.0,0.0,5910282.0,0.0,0.0,0.0,9997659.0,23790144.0,0.0,2697237.0,4050343.0,11003592.0,15107829.0,0.0,0.0,0.0
2016Q3,24766193.0,5018457.0,20248374.0,4371295.0,26228299.0,14477724.0,4015426.0,2732935.0,21870562.0,2246225.0,7158426.0,7415205.0,1129658.0,0.0,4695088.0,0.0,0.0,0.0,9898969.0,24475917.0,0.0,2778435.0,4003571.0,11529371.0,14857711.0,0.0,0.0,0.0
2016Q4,24523167.0,4978757.0,20102235.0,4145821.0,26504094.0,13945990.0,4021546.0,2621966.0,14961340.0,2100702.0,6448395.0,7394422.0,1146133.0,0.0,3864953.0,0.0,0.0,0.0,7947618.0,24710615.0,0.0,2843044.0,3806017.0,10557488.0,14936845.0,0.0,0.0,0.0
2017Q1,23151264.0,4590080.0,17584317.0,4146013.0,25350088.0,12977823.0,3900902.0,2488446.0,17841942.0,1864415.0,6291541.0,7028664.0,1105431.0,0.0,4172191.0,0.0,0.0,0.0,7985776.0,22665118.0,0.0,2628941.0,3503531.0,10226153.0,14117131.0,0.0,0.0,0.0
2017Q2,24031304.0,4457815.0,17989268.0,4253100.0,26122584.0,13600010.0,3790159.0,2456582.0,17587695.0,1853795.0,6640156.0,7173710.0,1080390.0,0.0,5409860.0,0.0,0.0,0.0,7412478.0,23356790.0,0.0,2758574.0,3642992.0,10976035.0,15195305.0,0.0,0.0,0.0
2017Q3,25668158.0,4691774.0,19303649.0,4381015.0,27819644.0,14656998.0,4179194.0,2624322.0,20520600.0,1969283.0,7395410.0,7510585.0,1118114.0,0.0,4898540.0,0.0,0.0,0.0,9249333.0,25004877.0,0.0,3044073.0,3968285.0,11712730.0,16133314.0,0.0,0.0,0.0
2017Q4,26182967.0,4771401.0,19291188.0,4338432.0,28304487.0,14370802.0,4368703.0,2632896.0,20035666.0,1993907.0,7031052.0,7856511.0,1092636.0,0.0,4191111.0,0.0,0.0,0.0,8416341.0,25814595.0,0.0,3163281.0,3750628.0,11454363.0,16022654.0,0.0,0.0,0.0
2018Q1,24280500.0,4412450.0,18407709.0,4355153.0,26930298.0,13146197.0,4093101.0,2463613.0,19176205.0,1871406.0,6371461.0,7367992.0,1037098.0,0.0,4149582.0,0.0,0.0,0.0,8373816.0,23537287.0,0.0,2914353.0,3442073.0,10519631.0,14569663.0,0.0,0.0,0.0
2018Q2,24077662.0,4171913.0,17692409.0,4349919.0,26120820.0,13074187.0,3899266.0,2462901.0,18649654.0,1799240.0,6727287.0,6917962.0,1018474.0,0.0,4970185.0,0.0,0.0,0.0,7668439.0,22674142.0,0.0,2756745.0,3443510.0,10841837.0,14667312.0,0.0,0.0,0.0
2018Q3,26246940.0,4878096.0,19744661.0,4756494.0,28964206.0,14895347.0,0.0,2795295.0,23327336.0,2012933.0,8227345.0,8001002.0,1072715.0,0.0,5238871.0,0.0,0.0,0.0,10091682.0,25204634.0,0.0,3159636.0,3991345.0,12926250.0,16490148.0,0.0,0.0,0.0
2018Q4,25542227.0,4882528.0,19350394.0,4549098.0,28456704.0,14039317.0,0.0,2783441.0,20374804.0,2009112.0,7543919.0,7968109.0,1084019.0,0.0,4549359.0,0.0,0.0,0.0,8778057.0,24917266.0,0.0,3065344.0,3596765.0,12216529.0,15983092.0,0.0,0.0,0.0
2019Q1,28217076.0,4639351.0,19010359.0,4564994.0,27589201.0,13253290.0,0.0,2663985.0,19740819.0,1893612.0,6922182.0,7520402.0,1036397.0,0.0,3790795.0,0.0,0.0,0.0,8499527.0,23206165.0,0.0,2901132.0,3438390.0,11533819.0,14426135.0,0.0,0.0,1680483.0
2019Q2,29474351.0,4576211.0,19055784.0,4752999.0,27982311.0,13933473.0,0.0,2702992.0,20015604.0,1885485.0,7204600.0,7454757.0,1045264.0,0.0,5023778.0,0.0,0.0,0.0,7792600.0,23894100.0,0.0,3039443.0,3668402.0,12066232.0,15444587.0,0.0,0.0,3230398.0
2019Q3,31036438.0,4949223.0,20579241.0,4854862.0,29299139.0,15405602.0,0.0,2794678.0,23133452.0,1993928.0,8537380.0,7465377.0,1096170.0,0.0,5106570.0,0.0,0.0,0.0,9879711.0,25327578.0,0.0,2974758.0,4183217.0,13092095.0,16150250.0,0.0,0.0,3375923.0
2019Q4,31485719.0,5224916.0,20746747.0,4726803.0,30197943.0,14889699.0,0.0,2865403.0,19315167.0,2050755.0,7755299.0,7692614.0,1081925.0,0.0,4678039.0,0.0,0.0,0.0,8131432.0,25642927.0,0.0,3029571.0,3824289.0,12891842.0,16095195.0,0.0,0.0,3432629.0
2020Q1,29568963.0,4899738.0,19561644.0,4653121.0,29462023.0,13796069.0,0.0,2610808.0,19934451.0,1895144.0,7242244.0,7474481.0,970716.0,0.0,3953197.0,0.0,0.0,0.0,8058760.0,23948982.0,0.0,2811873.0,3616386.0,11403199.0,14820218.0,0.0,0.0,7310988.0
2020Q2,26391792.0,4309091.0,16983200.0,4365232.0,23361682.0,13867652.0,0.0,2252629.0,21247086.0,1170544.0,8537851.0,6941603.0,741058.0,0.0,5527036.0,0.0,0.0,0.0,7962105.0,19464507.0,0.0,2232628.0,3615709.0,11507630.0,12980996.0,0.0,0.0,9360752.0
2020Q3,33681231.0,5399437.0,21801909.0,5204626.0,30789451.0,16814320.0,0.0,2788944.0,24477519.0,1499565.0,9656307.0,8615510.0,1075057.0,0.0,4628210.0,0.0,0.0,0.0,10289507.0,25757857.0,0.0,3163326.0,4331188.0,14404656.0,17501527.0,0.0,0.0,11976651.0
2020Q4,35506934.0,5620493.0,23177310.0,5335722.0,33645852.0,16635668.0,0.0,2901197.0,19632505.0,1648748.0,8716406.0,9018783.0,1110481.0,0.0,3943475.0,0.0,0.0,0.0,9117299.0,27303196.0,0.0,3467168.0,4224947.0,14083937.0,17935242.0,0.0,0.0,13218607.0
2021Q1,32319319.0,5701799.0,22975100.0,5460405.0,33451539.0,15608513.0,0.0,2759828.0,21381597.0,1640683.0,8806228.0,8944413.0,1014360.0,0.0,3904856.0,0.0,5672852.0,0.0,8841659.0,25624974.0,0.0,3119918.0,3870211.0,13594379.0,16952948.0,0.0,0.0,12272165.0
2021Q2,35640518.0,5751372.0,22141679.0,5657060.0,31785224.0,16614525.0,0.0,2744424.0,23360453.0,1635082.0,7307696.0,9034245.0,2391082.0,0.0,5958712.0,0.0,7094550.0,0.0,9392069.0,25553576.0,0.0,3033302.0,3966139.0,14441850.0,16372541.0,0.0,0.0,12738138.0
2021Q3,37436500.0,6245757.0,23167294.0,5805308.0,33045055.0,17670319.0,0.0,2839372.0,26004718.0,1758579.0,9819459.0,9173498.0,2548902.0,0.0,5376892.0,0.0,6122941.0,0.0,12319517.0,26938010.0,0.0,3176932.0,4266121.0,15810305.0,17362643.0,0.0,0.0,13463095.0
2021Q4,35732743.0,6323349.0,23651030.0,5750788.0,33238005.0,16642895.0,0.0,2825783.0,22707388.0,1773480.0,9214506.0,9230808.0,1129019.0,0.0,6268841.0,0.0,6035970.0,0.0,10848297.0,27446221.0,0.0,3221034.0,4175673.0,14158294.0,16960456.0,0.0,0.0,13858800.0
2022Q1,26847578.0,5863767.0,22678885.0,5547875.0,31081198.0,15417280.0,0.0,2703727.0,23809841.0,1723685.0,9420275.0,9620433.0,1076545.0,0.0,4306667.0,0.0,6342401.0,0.0,10131323.0,0.0,0.0,3058593.0,4035304.0,13282608.0,15767979.0,0.0,11975088.0,13067559.0
2022Q2,29162517.0,6104976.0,23034261.0,5704444.0,32196885.0,16298360.0,0.0,2786465.0,24669542.0,1809766.0,9955090.0,9788405.0,1109389.0,0.0,4252516.0,0.0,6698067.0,0.0,10163009.0,0.0,27400162.0,3024241.0,4177746.0,14370914.0,16582539.0,0.0,12195479.0,12954899.0
2022Q3,29728112.0,6097144.0,23941229.0,5688403.0,33345960.0,16942685.0,0.0,2763987.0,26428289.0,0.0,10599235.0,8703071.0,1117745.0,0.0,4507865.0,0.0,6939502.0,0.0,11254708.0,0.0,28012362.0,3189358.0,4488221.0,15196657.0,17409989.0,0.0,12750362.0,13620922.0
2022Q4,28358256.0,5914662.0,21108313.0,6866516.0,32233333.0,15839276.0,0.0,2783959.0,23142405.0,0.0,9539952.0,8965208.0,1061626.0,1284002.0,4486364.0,9037340.0,6205832.0,0.0,10440459.0,0.0,27316909.0,3184223.0,4171424.0,14127572.0,16850058.0,0.0,11420414.0,13047004.0
2023Q1,27478484.0,5856695.0,22842790.0,6077293.0,31248460.0,15250177.0,0.0,2691143.0,23195418.0,0.0,9574695.0,9409397.0,1067162.0,2029905.0,4472108.0,8893412.0,6548577.0,0.0,10683098.0,0.0,25664077.0,3111409.0,3931333.0,13547208.0,16165503.0,0.0,11487746.0,12877947.0
2023Q2,28447223.0,5933461.0,22961456.0,5983168.0,32082184.0,16025195.0,0.0,2792298.0,25675974.0,0.0,10125832.0,9482585.0,1063163.0,3342939.0,4804014.0,10280873.0,7072737.0,0.0,10362009.0,0.0,23707743.0,3185867.0,3952675.0,14607726.0,16523455.0,4867199.0,11926955.0,13145203.0
2023Q3,29981611.0,6184583.0,25053534.0,5814720.0,33585203.0,17595991.0,0.0,2901438.0,28215244.0,0.0,11242538.0,10133804.0,1115641.0,5724247.0,5519604.0,10857281.0,8002153.0,0.0,12640220.0,0.0,25430271.0,3339168.0,4474743.0,15667524.0,16964748.0,6135443.0,12970997.0,14131958.0
2023Q4,29932262.0,6462298.0,25125991.0,6363723.0,33739860.0,16476344.0,0.0,2975579.0,25950232.0,0.0,10516109.0,10297056.0,1115722.0,9793367.0,5515961.0,10668478.0,7566013.0,0.0,12164982.0,0.0,0.0,3315169.0,4067436.0,14974760.0,15302934.0,0.0,12784826.0,14262922.0
2024Q1,0.0,4806098.0,21388590.0,6356409.0,0.0,15678523.0,0.0,2607010.0,18915174.0,0.0,8808882.0,9147191.0,926738.0,11081779.0,4578829.0,8370481.0,6012665.0,18439235.0,10874765.0,0.0,0.0,2943022.0,1137069.0,11826616.0,15576017.0,0.0,4219863.0,7175983.0
2024Q2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# Salvando p/parquet

In [49]:
# dataframe total
# df_trafego.to_parquet(os.path.join(path_dados_derivados,'df_trafego.parquet'))
df_trafego.to_parquet(path_output /'df_trafego.parquet')

In [50]:
# data inicial e final
df_periodos.to_parquet(path_output /'df_periodos.parquet')

In [51]:
# dicionário com os dados de tráfego anuais:
for veq in dict_veqs:
    dict_veqs[veq].to_parquet(path_output / f'df_{veq}_anual.parquet')

NameError: name 'dict_veqs' is not defined

In [ ]:
# dicionário com os dados de tráfego mensial:
for veq in dict_veqs_mensal:
    dict_veqs_mensal[veq].to_parquet(path_output / f'df_{veq}_mensal.parquet')

# Salvando p/Excel

In [ ]:
# dados de tráfego anual
with pd.ExcelWriter(path_output / 'dados_trafego_ANTT_anual.xlsx') as writer:
    df_periodos.to_excel(writer, sheet_name="periodo_concessionarias")
    for veq in dict_veqs:
        dict_veqs[veq].to_excel(writer, sheet_name=f"{veq}")

In [ ]:
# dados de tráfego mensal
with pd.ExcelWriter(path_output / 'dados_trafego_ANTT_mensal.xlsx') as writer:
    df_periodos.to_excel(writer, sheet_name="periodo_concessionarias")
    for veq in dict_veqs_mensal:
        dict_veqs_mensal[veq].to_excel(writer, sheet_name=f"{veq}")