In [1]:
import pandas as pd
import numpy as np
import os
from decimal import Decimal
import pickle
from pathlib import Path

# SETUP

In [2]:
dir_tree_util_path = os.path.join("utils", "dir_tree.py")
exec(open(dir_tree_util_path).read())

# INPUTS

In [3]:
# Paths
path_dados_PIB = PROJECT_DIRS['DADOS_GIT_BACEN_DIR']
# path_output = TODO
path_output = PROJECT_DIRS['DADOS_PIB_DIR']

# CARREGANDO p/MEMORIA OS DADOS

In [4]:
# fonte: Bacen, SGS, PIB em R$ do último ano, Cód 1208
pib = pd.read_csv(path_dados_PIB / 'STP-20240822151202826.csv', sep=";", encoding='windows-1251', 
                  skipfooter=1, engine='python')

# TRATANDO OS DADOS

In [5]:
pib.head()

,Data,7326 - Produto Interno Bruto - Taxa de variaзгo real no ano - Var. % anual
0,1962,"6,60"
1,1963,"0,60"
2,1964,"3,40"
3,1965,"2,40"
4,1966,"6,70"

In [6]:
pib.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62 entries, 0 to 61
Data columns (total 2 columns):
 #   Column                                                                      Non-Null Count  Dtype
---  ------                                                                      --------------  -----
 0   Data                                                                        62 non-null     int64
 1   7326 - Produto Interno Bruto - Taxa de variaзгo real no ano - Var. % anual  62 non-null     object
dtypes: int64(1), object(1)
memory usage: 1.1+ KB

In [7]:
pib = pib.rename(columns={'Data':'ano', 
                          '7326 - Produto Interno Bruto - Taxa de variaзгo real no ano - Var. % anual' : 'PIB_real_cresc_%'})

In [8]:
pib['PIB_real_cresc_%'].unique()

array(['6,60', '0,60', '3,40', '2,40', '6,70', '4,20', '9,80', '9,50',
       '10,40', '11,34', '11,94', '13,97', '8,15', '5,17', '10,26',
       '4,93', '4,97', '6,76', '9,23', '-4,25', '0,83', '-2,93', '5,40',
       '7,85', '7,49', '3,53', '-0,06', '3,16', '-4,35', '1,03', '-0,54',
       '4,92', '5,85', '4,22', '2,21', '3,39', '0,34', '0,47', '4,39',
       '1,39', '3,05', '1,14', '5,76', '3,20', '3,96', '6,07', '5,09',
       '-0,13', '7,53', '3,97', '1,92', '3,00', '0,50', '-3,55', '-3,28',
       '1,32', '1,78', '1,22', '4,76', '3,02', '2,91'], dtype=object)

In [9]:
pib['PIB_real_cresc_%'] = pib['PIB_real_cresc_%'].str.replace(',','.')

In [10]:
pib['PIB_real_cresc_%'] = pib['PIB_real_cresc_%'].astype('float')

In [11]:
pib['PIB_real_cresc_%'].unique()

array([ 6.6 ,  0.6 ,  3.4 ,  2.4 ,  6.7 ,  4.2 ,  9.8 ,  9.5 , 10.4 ,
       11.34, 11.94, 13.97,  8.15,  5.17, 10.26,  4.93,  4.97,  6.76,
        9.23, -4.25,  0.83, -2.93,  5.4 ,  7.85,  7.49,  3.53, -0.06,
        3.16, -4.35,  1.03, -0.54,  4.92,  5.85,  4.22,  2.21,  3.39,
        0.34,  0.47,  4.39,  1.39,  3.05,  1.14,  5.76,  3.2 ,  3.96,
        6.07,  5.09, -0.13,  7.53,  3.97,  1.92,  3.  ,  0.5 , -3.55,
       -3.28,  1.32,  1.78,  1.22,  4.76,  3.02,  2.91])

In [12]:
pib['PIB_real_cresc_%'].dtype

dtype('float64')

In [13]:
pib

     ano  PIB_real_cresc_%
0   1962              6.60
1   1963              0.60
2   1964              3.40
3   1965              2.40
4   1966              6.70
..   ...               ...
57  2019              1.22
58  2020             -3.28
59  2021              4.76
60  2022              3.02
61  2023              2.91

[62 rows x 2 columns]

In [14]:
pib.index = pib.pop('ano')

# SALVANDO PARA PARQUET E EXCEL

In [17]:
pib.to_parquet(path_output / 'PIB-Bacen-anual.parquet')

In [18]:
pib.to_excel(path_output / 'PIB-Bacen-anual.xlsx')