In [9]:
import pandas as pd
import numpy as np
import os
from decimal import Decimal
import pickle
from pathlib import Path

# SETUP

In [10]:
dir_tree_util_path = os.path.join("utils", "dir_tree.py")
exec(open(dir_tree_util_path).read())

# INPUTS

In [11]:
# Paths
path_dados_pib = PROJECT_DIRS['DADOS_GIT_BACEN_DIR']
# path_output = TODO
path_output = PROJECT_DIRS['DADOS_PIB_DIR']

# CARREGANDO p/MEMORIA OS DADOS

In [12]:
# df_pib trimestral real
# fonte: Bacen. SGS, df_pib mensal - valores correntes, Cód 4380
df_pib = pd.read_excel(path_dados_pib / 'PIB_trimestral_ipeadata.xlsx')

# TRATANDO OS DADOS

In [13]:
df_pib

        Data  PIB_real_pct
0    1997 T1          3.40
1    1997 T2          4.75
2    1997 T3          1.79
3    1997 T4          3.74
4    1998 T1          1.01
..       ...           ...
104  2023 T1          4.22
105  2023 T2          3.47
106  2023 T3          1.96
107  2023 T4          2.05
108  2024 T1          2.46

[109 rows x 2 columns]

In [14]:
df_pib.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 109 entries, 0 to 108
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Data          109 non-null    object
 1   PIB_real_pct  109 non-null    float64
dtypes: float64(1), object(1)
memory usage: 1.8+ KB

In [15]:
# Tratando a coluna de data
df_pib['Data'] = df_pib['Data'].apply(
    lambda x: pd.Period(
        year=int(x.split()[0]), 
        quarter=int(x.split()[1][-1]), 
        freq='Q'))

In [18]:
df_pib.index = df_pib.pop('Data')

# SALVANDO PARA PARQUET

In [20]:
df_pib.to_parquet(path_output / 'PIB-Ipea-trimestral.parquet')

# SALVANDO PARA EXCEL

In [21]:
df_pib.to_excel(path_output / 'PIB-Ipea-trimestral.xlsx')